<div id="header"> 
    <div id="rooflogo" class="left trans"><%= image_tag("holland-logo-white.png", :height => '80', :width => '480', :style => "opacity:0.5; filter:alpha(opacity=50);") %>
    </div>
    <!-- <div onclick="location.href='https://itunes.apple.com/us/app/lawyersagent-2.0/id434589015?mt=3D8&amp;ls=3D1'">
        <div id="applogo">
            <a role="text" aria-label="LawyersAgent 2.0" href="https://itunes.apple.com/us/app/lawyersagent-2.0/id434589015?mt=3D8&amp;ls=3D1">
            <%= image_tag("lawyerstitleapplogo.png", height: '70', width: '70', style: "-webkit-border-radius: 22px; -moz-border-radius: 12px; border-radius: 12px;") %>
            </a>
        </div>
        <div id="leftarrow">
            <%= image_tag("leftarrow.png", height: '42', width: '50') %>
        </div>
        <div id="apptext">
            <h2>Click here to download our awesome app</h2>
        </div>
    </div> -->


    <div class="right">
        <p> Phone: 940 312 7345<br />
            Fax: 940 312 7346<br />
            <a href="mailto:info@hollandlawandtitle.com">info@hollandlawandtitle.com</a>
            
            <a href="https://www.facebook.com/HollandLawAndTitle"><img src="/images/FB-f-Logo__blue_29.png"/></a>
            
            <a href="https://www.linkedin.com/profile/view?id=113586733"><img src="/images/LinkedIn_Logo30px.png" height=30 width=30/></a>

            <a href="/map.html?iframe=true&width=900&height=500" rel="prettyPhoto" title="Holland Law and Title Locations"><%= image_tag("mapicon.png", height: '32', width: '32', title: "Holland Law and Title Locations") %></a>
        </p>
    </div>
</div>