


<div class="outer-wrapper footer">
        <div class="inner-wrapper footer">
        <style>
    .foot-copy { float:left;
    width:620px;
    }
    #foot-copy-1 {
    width:620px;
    float:left;
    }
</style>



<div id="footer">

<div id="app" onclick="location.href='http://www.lawyersagent.com'">
    <div id="applogo">
        <a role="text" aria-label="LawyersAgent 2.0" href="http://www.lawyersagent.com">
        <%= image_tag("lawyerstitleapplogo.png", height: '70', width: '70', style: "-webkit-border-radius: 22px; -moz-border-radius: 12px; border-radius: 12px;") %>
        </a>
    </div>
    <div id="leftarrow">
        <%= image_tag("leftarrow.png", height: '42', width: '50') %>
    </div>
    <div id="appdownloadicon">
        <!-- <h2>Click here to download our awesome app</h2> -->
        <%= image_tag("downloadfreeappicon.jpg", height: '65', width: '170') %>
    </div>
</div>


<div id="officeaddress">
	<div id="corinthoffice">
		<h2>Corinth Office</h2>
		<p>Holland Law and Title</br>
	    4251 Fm 2181 Suite 200<br/>
		Corinth</br>
		TX 76210<br/>
	</div>
	<div id="dentonoffice">
		<h2>Denton Office</h2>
		<p>Holland Law and Title</br>
	    525 South Locust Street Suite 100<br/>
		Denton</br>
		TX 76201<br/>
	</div>
</div>

        </div>
        </div>
        <script type="text/javascript"> Cufon.now(); </script>
        </div>