        <div class="cms-content-home">
            
        <div class="container bottom-margin">
        <div class="col c25">        
        <h3>Who we are</h3>
        <p style="margin-top:15px;">Holland Law and Title is locally owned and operated - so when you call, you get us.  And while we are small enough to provide the personal touch you deserve, we are big enough to serve all your Texas real estate closing needs. <br/><br/>  We are a fee office for Lawyer's Title, and are a part of the Fidelity National Financial family, the largest title insurance and escrow services company in the world.</p> 

        </div>

        </div>


        <div class="image_carousel">

            <div id="carousel_items">

                <!-- A Fresh Approach (intro video) -->
                <a href="https://www.youtube.com/watch?v=GZotUexhlBU&amp;rel=0" rel="prettyPhoto" title="A Fresh Approach" class="videocarousel"><div class="videocaption">A Fresh Approach</div><img src="/images/introvideothumbnail.jpg" alt="A Fresh Approach" class="videothumbnail" /></a>

                <!-- Title Insurance in English -->
                <a href="http://www.youtube.com/watch?v=V4Fmwv7A2ic&amp;rel=0" rel="prettyPhoto" title="Title Insurance Explained" class="videocarousel"><div class="videocaption">Title Insurance Explained</div><img src="/images/titleinsurancethumbnail.jpg" alt="Title Insurance Explained" class="videothumbnail" /></a>

                <!-- Title Insurance in Spanish -->
                <a href="http://www.youtube.com/watch?v=b_HTpZtG3G0&amp;rel=0" rel="prettyPhoto" title="Title Insurance Explained (Espanﾌバl) "class="videocarousel"><div class="videocaption">Title Insurance Explained (Esp)</div><img src="/images/titleinsurancespthumbnail.jpg" alt="Title Insurance Explained (Espanﾌバl)" class="videothumbnail" /></a>

                <!-- Closing costs in English -->
                <a href="http://www.youtube.com/watch?v=8WlQyk6YWg4&amp;rel=0" rel="prettyPhoto" title="Closing Costs Explained" class="videocarousel"><div class="videocaption">Closing Costs Explained</div><img src="/images/closingcoststhumbnail.jpg" alt="Closing Costs Explained" class="videothumbnail" /></a>

                <!-- Closing costs in Spanish -->
                <a href="http://www.youtube.com/watch?v=LT-qbBn8uQM&amp;rel=0" rel="prettyPhoto" title="Closing Costs Explained (Espanﾌバl)" class="videocarousel"><div class="videocaption">Closing Costs Explained (Esp)</div><img src="/images/closingcostsspthumbnail.jpg" alt="Closing Costs Explained (Espanﾌバl)" class="videothumbnail" /></a>
                
                <!-- Title Wars -->
                <a href="http://www.youtube.com/watch?v=Tr_Qyc6-Hgg&amp;rel=0" rel="prettyPhoto" title="Title Wars" class="videocarousel"><div class="videocaption">Title Wars</div><img src="/images/titlewarsthumbnail.jpg" alt="Title Wars" class="videothumbnail" /></a>


            </div>
            <div class="clearfix"></div>



        </div>
        <div class="hr-v">
        <hr />
        </div>
        </div>