<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <!-- BC_OBNW -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Employment Law Specialists | Springhouse Solicitors</title>
<link href="/stylesheets/ModuleStyleSheets.css" type="text/css" rel="StyleSheet" />
<script type="text/javascript">var jslang='EN';</script>
<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" />
<script type="text/javascript" src="/js/jquery-1.4.1.min.js"></script>
<!-- <script type="text/javascript" src="/js/jquery.colorbox-min.js"></script> -->
<script type="text/javascript" src="/js/jquery.cycle.js"></script>
<script type="text/javascript" src="/js/cufon/cufon-yui.js"></script>
<script type="text/javascript" src="/js/cufon/font.ubuntu.js"></script>
<script type="text/javascript" src="/js/cufon/cufon.config.js"></script>

<link rel="shortcut icon" href="fav.ico" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript"></script>
<script src="http://tab-slide-out.googlecode.com/files/jquery.tabSlideOut.v1.3.js"></script>

<meta name="language" content="en" />
<meta name="robots" content="index, follow" />
<meta content="ic_Dyw3PX4JLp-hFZqVYn4FM-bBFeJmWZiP1xZeDQu0" name="google-site-verification" />
<meta content="Employment Solicitors serving Chichester, Winchester, Portsmouth and Southampton. Springhouse Solicitors take a fresh approach to employment law. Call us to discuss how we can help you." name="Description" />
</head>
<body class="home">

    
        <div id="body_outer_wrapper">
        <div class="outer-wrapper">
        <div class="inner-wrapper">
        <div id="bar">


 <%= render(:partial => "/refinery/fixed_menu") %>

</div>
<div id="header"> <a href="/_blog/Employment_Law_blog" class="blog"><span>The Blog</span></a>
<div class="left trans"><%= image_tag("holland-logo-white.png", :height => '100', :width => '550', :style => "opacity:0.5; filter:alpha(opacity=50);") %></div><div class="right">
<p> Phone: 940 312 7345<br />
Fax: 940 312 7346<br />
<a href="mailto:info@hollandlawandtitle.com" onclick="_gaq.push(['_trackEvent', 'Enquiry', 'Email', 'Header']);">info@hollandlawandtitle.com</a></p>
</div>
</div>
        

        <div id="main">
        <h1 class="large">Holland Law and Title</h1>
        <div class="hr thin bottom-margin">
        <hr />
        </div>
        
        <%= render "/refinery/side_menu" %>
        
        <div class="cms-content">
            
        <div class="container bottom-margin">
        <div class="col c25">        
        <h3>Who we are</h3>
        <p>Some basic text goes here...</p> 

        </div>

        </div>


        <div class="image_carousel">

            <div id="carousel_items">

                <a class="video fancybox.iframe"  title="Fast Forward" href="http://www.youtube.com/v/L9bH4wdSSK4?autoplay=1&amp;rel=0"><img src="/images/video1thumbnail.png" alt="" width="140" height="100" /></a>

                <a class="video fancybox.iframe"  title="Fast Forward" href="http://www.youtube.com/v/L9bH4wdSSK4?autoplay=1&amp;rel=0"><img src="/images/video1thumbnail.png" alt="" width="140" height="100" /></a>

                <a class="video fancybox.iframe"  title="Fast Forward" href="http://www.youtube.com/v/L9bH4wdSSK4?autoplay=1&amp;rel=0"><img src="/images/video1thumbnail.png" alt="" width="140" height="100" /></a>

                <a class="video fancybox.iframe"  title="Fast Forward" href="http://www.youtube.com/v/7Zv5V4GyETY?autoplay=1&amp;rel=0"><img src="/images/video1thumbnail.png" alt="" width="140" height="100" /></a>

            </div>
            <div class="clearfix"></div>



        </div>
        <div class="hr-v">
        <hr />
        </div>
        </div>
    


        </div>
        </div>
        </div>
        <div class="outer-wrapper footer">
        <div class="inner-wrapper footer">
        <style>
    .foot-copy { float:left;
    width:620px;
    }
    #foot-copy-1 {
    width:620px;
    float:left;
    }
</style>
<div id="footer">
<div class="container">
<div class="foot-copy">
<div class="col c33">
<h2>Office Address</h2>
<p>Holland Law and Title </br>
    4251 Fm 2181 Ste 200<br/>
Corinth,</br>
TX 76210-4220<br />

</div>
</div>
<div class="col c33 last">
<script type="text/javascript">
function clearText(thefield){
if (thefield.defaultValue==thefield.value)
thefield.value = ""
} 
</script>



</div>
</div>
<div class="container">
<div class="col c70">
</div>
<div class="col c30 last">&nbsp; </div>
</div>
</div>
        </div>
        </div>
        <script type="text/javascript"> Cufon.now(); </script>
        </div>
    


</body>
</html>