.addresses {
	/*border: 1px solid gray;*/
	height: 20px;
	clear: both;
}

.maillink {
	font-size: 12px;
	/*border: 1px solid red;*/
	display: inline-block;
	float: left;
	margin-top: 2px;
	margin-left: 8px;
	margin-right: 8px;
	padding: 0px;
}

.smlogo {
	height: 16px;
	width: 16px;
	/*border: 1px solid black;*/
	display: inline-block;
	margin-left: 0px;
}

.videocarousel {
	/*border: 1px solid red;*/
	height: 128px;
	width: 160px;
}

.videocaption {
	/*border: 1px solid black;*/
	font-size: 11px;
	width: 155px;
	height: 8px;
	margin-left: 3px;
	text-align: center;
	float: left;
	display: inline-block;
}

.videocaption:hover {
	color: grey;
}

.videothumbnail {
	display: inline-block;
	float: left;
	width: 140px;
	height: 100px;
}

#railscontent {
	/*background-color: #DFEBCC;*/
	background-color: #E4EFD5;
	margin-top: 3px;
	padding-left: 15px;
	padding-right: 15px;
	height: 418px;
	width: 675px;
	opacity: 0.9;
	color: #433b36;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#railscontent h1 {
	color: #433b36;
	padding-top: 5px;
}

#body {
	height: 328px;
	overflow: scroll;
}


.image_carousel {
    padding: 35px 0 15px 0;
    margin-top: 20px;
    display: block;
}

.image_carousel img {
    border: 1px solid #ccc;
    background-color: white;
    padding: 4px;
    margin: 5px;
    display: block;
    float: left;
}
.image_carousel a {
    display: block;
    float: left;
}
.clearfix {
    float: none;
    clear: both;
}





body {
	color:#fff;
	font-size:1em;
	font-family:arial, sans-serif;
	margin:0px;
	padding:0px;
	background:#639046;
}
body.home {
	background:#93BF39 url(/images/hummingbird.jpg) top center no-repeat;
	/*background-size: contain;*/
	/*background-size: 1280px 800px;*/
	background-size: 1024px 678px;
}
/* - */



a {
	color:#efffa7;
	text-decoration:none;
}
a:hover {
	color:#b9d45a;
	text-decoration:none;
}
img {
	border:0px;
}
.left {
	float:left;
}
.right {
	float:right;
}
.tright {
	text-align:right;
}
.tcenter {
	text-align:center;
}
p {
	font-size:1em;
	margin:5px 0px 20px 0px;
	padding:0px;
	line-height:1.5em;
}
p.large {
	font-size:1.25em;
}
p.small {
	font-size:0.8em;
}
p.shallow {
	margin-bottom:5px;
}
h1 {
	margin:0 0 15px 0;
	padding:0;
	font-size:3.0em;
	font-weight:bold;
}
h2 {
	margin:0 0 15px 0;
	padding:0;
	font-size:1.7em;
	font-weight:bold;
}
h3 {
	margin:0;
	padding:0;
	font-size:1.4em;
	font-weight:bold;
	color:#efffa7;
	clear:left;
}
h4 {
	margin:0;
	padding:0;
	font-size:1em;
	font-weight:bold;
	color:#efffa7;
	border-bottom:1px dotted #efffa7;
	display:inline;
}
h5 {
	margin:5px 0 0 0;
	padding:0;
	font-size:1.0em;
	font-weight:bold;
}
h3.tall {
	margin-bottom:30px;
}
h1.yellow, h2.yellow, h3.yellow, h4.yellow, h5.yellow {
	color:#efffa7;
}
h1.super-duper-huge {
	font-size:9.25em;
}
h1.large {
	font-size:4.5em;
	text-align:center;
	width:100%;
	text-transform:uppercase;
	line-height:0.5em;
	margin:0;
	padding:0;
}
hr {
	display:none;
}
.hr {
	width:100%;
	height:7px;
	background:url(/images/hr.gif) top left repeat-x;
	float:left;
	clear:both;
	overflow:hidden;
	margin:20px 0px;
}
.hr-v {
	width:100%;
	height:20px;
	background:url(/images/hr-v.gif) top left repeat;
	float:left;
	clear:both;
	overflow:hidden;
	margin:5px 0px 20px 0px;
}
.hr-line {
	width:100%;
	height:1px;
	background:url(/images/hr-line.gif) top left repeat;
	float:left;
	clear:both;
	overflow:hidden;
	margin:5px 0 19px 0;
}
.hr.shallow, .hr-v.shallow {
	margin-bottom:5px;
}
.hr.thin {
	height:1px;
	margin-top:5px;
	/*position: relative 0px 200px;*/
	/*margin-left: 130px;
	width: 905px;*/
}
.hr.tall {
	margin-bottom:30px;
}
a.trans:hover {
	opacity:0.4;
	filter:alpha(opacity=40)
}

#trans {
	opacity:0.4;
	filter:alpha(opacity=40)
}
/* - */

h3.recent {
	background:url(/images/icons/icon-recent.gif) 0 5px no-repeat;
	padding-left:22px;
}
h3.category {
	background:url(/images/icons/icon-categories.gif) 0 5px no-repeat;
	padding-left:22px;
}
h3.archive {
	background:url(/images/icons/icon-archives.gif) 0 5px no-repeat;
	padding-left:22px;
}
.col.c33 div {
	padding:10px 0px;
}
.col.c66 div {
	padding:10px 0px;
}
/* - */

.col {
	float:left;
	overflow:visible;
	display:block;
	margin-right:20px;
}
.col.last {
	margin-right:0px;
}
.col.c20 {
	width:180px;
}
.col.c25 {
	width:360px;
	height: 270px;
	color: #433b36;
}

.col.c30 {
	width:250px;
}
.col.c33 {
	width:290px;
}
.col.c35 {
	width:300px;
}
.col.c40 {
	width:370px;
}
.col.c50 {
	width:450px;
}
.col.c60 {
	width:490px;
}
.col.c65 {
	width:620px;
}
.col.c66 {
	width:630px;
	margin-bottom:30px;
}
.col.c70 {
	width:670px;
}
.col.c75 {
	width:700px;
}
.col.c100 {
	width:940px;
}
.col .col-inner-a {
	width:154px;
	float:left;
	overflow:hidden;
}
.col .col-inner-b {
	width:80px;
	float:left;
	overflow:hidden;
}
.col .col-inner-c {
	width:177px;
	float:left;
	overflow:hidden;
}
.col.c50per {
	width:48%;
	float:left;
}
.col.c33per {
	width:32%;
}
.col.c25per {
	width:22.5%;
}
.container {
	width:100%;
	overflow:hidden;
	float:left;
}
.col.left {
	float:left;
}
.col.right {
/*	float:right;
	text-align:left;*/
	padding-left: 100px;
	float:left;
	text-align: justify;
}
/* - */

strong {
	color:#433b36;
	font-weight:bold;
}
em {
	color:#efffa7;
	font-style:normal;
}
span.highlight {
	color:#efffa7;
}
.bottom-margin {
	margin-bottom:20px;
}
.small-bottom-margin {
	margin-bottom:15px;
}
.nomargin {
	margin-top:0;
	margin-bottom:0;
}
/* - */

button {
	width:85px;
	height:36px;
	line-height:36px;
	border:0px;
	background:transparent url(/images/button-plain.gif) top left no-repeat;
	color:white;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	cursor:pointer;
	padding:0;
	margin:0;
}
button:hover {
	background-position:bottom left;
}
button.submit {
	background-image:url(/images/button-submit.gif);
}
button.submit span {
	display:none;
}
button.search {
	background-image:url(/images/button-search.gif);
}
button.search span {
	display:none;
}
.button {
	float:left;
	display:block;
	width:85px;
	height:36px;
	line-height:36px;
	border:0px;
	background:transparent url(/images/button-plain.gif) top left no-repeat;
	color:white;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	cursor:pointer;
	padding:0;
	margin:0;
}
.button:hover {
	background-position:bottom left;
}
.button.home {
	background-image:url(/images/button-home.gif);
}
.button.home span {
	display:none;
}
.button.contact {
	background-image:url(/images/button-contact.gif);
}
.button.contact span {
	display:none;
}
.button.back {
	background-image:url(/images/button-back.gif);
}
.button.back span {
	display:none;
}
input.cat_textbox, textarea.cat_listbox, select.cat_dropdown, select.cat_listbox {
	height: 28px;
	width: 177px;
}
input#LastName {
	width:122px;
}
input#FirstName {
	width:122px;
}
input#EmailAddress {
	width:254px;
	margin-top:5px;
}
/* - */

/*table {
	width:100%;
	padding:0px;
	margin:15px 0px 0px 0px;
}
table th {
	padding:5px 0px;
	margin:0px;
	border-right:1px solid #f9f1ea;
	font-size:0.95em;
	font-weight:bold;
	color:#465152;
}
table td {
	font-weight:bold;
	border-bottom:1px solid #f9f1ea;
	border-right:1px solid #f9f1ea;
	padding:5px 0px;
	margin:0px;
	font-size:0.75em;
	text-align:center;
	background-color:#baa99e;
	color:#fff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
table tr:hover td {
	background-color:#ad9c91;
}
table .width50 {
	width:50%;
}
table .width25 {
	width:25%;
}/*
/* - */

#four-oh-four {
	margin-top:160px;
}
#four-oh-four .betweenbuts {
	display:block;
	float:left;
	margin:0 5px;
	height:36px;
	line-height:36px;
	font-size:1.5em
}
/* - */

#railscontent {
	/*max-height: 300px;*/
}

#main form {
	border:0px;
	padding:0px;
	margin:0px;
}
#main form fieldset {
	border:0px;
	padding:0px;
	margin:0px;
}
#main form fieldset ul {
	float:left;
	width:100%;
	margin:0px 0px 10px 0px;
	padding:0px;
	list-style:none;
}
#main form fieldset ul li {
	float:left;
	width:100%;
	background:none;
	padding:0px;
	margin:0px 0px 10px 0px;
}
#main form fieldset ul li div.ddContainer {
	width:275px;
	color:#f2a6a6;
	font-weight:bold;
	border:1px solid #eee7e1;
	padding:0;
}
#main form fieldset ul li input {
	width:275px;
	font-size:0.95em;
	color:#000;
	font-weight:bold;
	border:1px solid #fff;
	padding:0 10px;
	line-height:36px;
	height:36px;
	background-color:#fff;
}
#main form fieldset ul li textarea {
	width:285px;
	font-size:1em;
	color:#000;
	font-weight:bold;
	border:1px solid #fff;
	padding:10px;
	height:307px;
	background-color:#fff;
	font-family:arial, sans-serif;
}
#main form fieldset ul li textarea.short {
	height:161px;
}
#main form fieldset ul li label {
	color:#fff;
	font-weight:bold;
	font-size:1em;
	width:100%;
	overflow:hidden;
	float:left;
	margin:0px 0px 1px 0px;
}
#main form fieldset ul li span.helps {
	font-style:italic;
	font-size:0.8em;
	float:right;
	margin-right:5px;
}
#main form .error_list {
	margin:10px 0 0 0;
}
#main form .error_list li {
	margin:0;
	padding:0;
	color:#b9d45a;
	font-style:italic;
}
/* - */

#body_outer_wrapper {
	width:100%;
	float:left;
	overflow:hidden;
	background:url(/images/page-bg.png) top left repeat-x;
}
#body_outer_wrapper.four-oh-four {
	background:url(/images/404-bg.jpg) top center no-repeat;
}
.outer-wrapper {
	width:100%;
	float:left;
	overflow:hidden;
}
.outer-wrapper.footer {
	background:#433b36 url(/images/footer-top.jpg) top left repeat-x;
	overflow:visible;
}
.inner-wrapper {
	/*width:940px;*/
	/*width:1140px;*/
	width:990px;
	margin:0 auto;
	overflow:visible;
}

#body_content_title {
	color: #efffa7;
	font-size: 2em;
}
/* - */

#bar {
	width:100%;
	float:left;
	height:60px;
	position:relative;
	z-index:5000;
}
#bar ul {
	margin:12px 0 0 0;
	width:100%;
	height:30px;
	padding:0;
	line-height:1.5em;
	list-style:none;
	width:100%;
	overflow:visible;
	text-align:center;
}
#bar ul li {
	margin:0;
	padding:0;
	display:inline;
	position:relative;
}
#bar ul li a {
	color:#6d8b1b;
	text-decoration:none;
	font-weight:bold;
	font-size:1em;
	padding:0 30px;
	padding:0 20px\9;
 *padding:0 20px;
}
.cufon-ready #bar ul li a {
	font-size:1.1em;
}
#bar ul li a.current, #bar ul li a:hover {
	color:#433b36;
	text-decoration:none;
}
#bar ul li.first a {
	/*padding-left:0px;*/
}
#bar ul li.last a {
	padding-right:20px;
}
#bar ul li ul {
	opacity: 0.95;
	display:none;
	margin:0;
	padding:0;
	position:absolute;
	top:16px;
 *top:20px;
	top:0px\9;
	right:-20px;
	/*background: url(/images/top-nav-sub-bg.gif) left bottom repeat-x;*/
	z-index:100000;
	/*width:140px;*/
	width:450px;
	/*height:105px;*/
	padding-top:20px;
	border: none;
}


#bar ul li:hover ul {
	display:block;
	/*background: url(/images/top-nav-sub-bg.gif) left bottom repeat-x;*/
	border: none;
}
.contact-form input.cat_textbox {
	height:30px;
	width:275px;
}
.contact-form textarea.cat_listbox {
	width:608px;
	height:230px;
}
.contact-form label {
	font-weight:bold;
}
#bar ul li ul li {
	padding:0px;
	display:block;
	float:left;
	width:100%;
	overflow:hidden;
	text-align:left;
}



#bar ul li ul li.first a, #bar ul li ul li.last a, #bar ul li ul li a {
	color:#6d8b1b;
	padding:5px 5px 5px 10px;
	margin:0;
	text-align:left;
	line-height:18px;
	float:left;
	/*width:140px;*/
	width:450px;

}
#bar ul li ul li a:hover {
	color:#433b36;
}


#bar ul li ul li a.menu_second_level {
	/*color: red;*/
	font-size: 13px;
	line-height: 16px;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 4px;
}

#bar ul li ul li a.menu_second_level:hover {
	/*color: blue;*/
}

#mainnav ul li ul li {
	height:30px;
	background-color:#000;
	border-bottom:#CCC 1px solid;
	padding:10px;
}


#megamenu2 {
	/*border: solid 1px white;*/
	height: 360px;
	width: 450px;
	background-color: #DDE6D7;
}

#megamenu3 {
	/*border: solid 1px white;*/
	position: relative;
	left: -148px;
	height: 470px;
	width: 750px;
	background-color: #DDE6D7;
}

#megamenu31 {
	/*border: solid 1px red;*/
	width:360px;
	height: 470px;
	float: left;
	display: inline-block;
}

#megamenu32 {
	/*border: solid 1px blue;*/
	width: 380px;
	float: left;
	display: inline-block;
}

#megamenu4 {
	/*border: solid 1px white;*/
	position: relative;
	left: -548px;
	height: 330px;
	width: 990px;
	background-color: #DDE6D7;
}

#megamenu41 {
	/*border: solid 1px red;*/
	width: 245px;
	height: 165px;
	float: left;
	display: inline-block;
}
#megamenu42 {
	/*border: solid 1px red;*/
	width: 245px;
	height: 165px;
	float: left;
	display: inline-block;
}
#megamenu43 {
	/*border: solid 1px red;*/
	width: 245px;
	height: 165px;
	float: left;
	display: inline-block;
}
#megamenu44 {
	/*border: solid 1px red;*/
	width: 245px;
	height: 165px;
	float: left;
	display: inline-block;
}
#megamenu45 {
	/*border: solid 1px red;*/
	width: 245px;
	height: 165px;
	float: left;
	display: inline-block;
}
#megamenu46 {
	/*border: solid 1px red;*/
	width: 245px;
	height: 165px;
	float: left;
	display: inline-block;
}
#megamenu47 {
	/*border: solid 1px red;*/
	width: 245px;
	height: 165px;
	float: left;
	display: inline-block;
}

/* - */
.green h3 {
	color: #86B75E;
}
#employers ul {
	padding-left:0px!important;
}
#employers ul li {
	list-style:none;
	margin-top:10px!important;
}
#employers ul li a {
	border-color: #b9d45a;
	color: #ffffff;
	font-weight: bold;
}
#employers ul li a:hover {
	color:#b9d45a;
	border-color:#b9d45a;
}
#employees ul {
	padding-left:0px!important;
}
#employees ul li {
	list-style:none;
	margin-top:10px!important;
}
#employees ul li a {
	border-color: #b9d45a;
	color: #ffffff;
	font-weight: bold;
}
#employees ul li a:hover {
	color:#b9d45a;
	border-color:#b9d45a;
}
#header {
	width:100%;
	float:left;
	overflow:visible;
	/*background:url(/images/header-bg.jpg) bottom left repeat-x;*/
	padding-bottom:0px;
	position:relative;
}
#header .right {
	text-align:right;
}
#header .right p {
	padding:0;
	margin: 5px 15px 0 0;
	font-size:1em;
	font-weight:bold;
	line-height:1.2em;
}
#header .right p a {
	border:0;
	text-decoration:none;
}
#header .right p a:hover {
	border:0;
	text-decoration:none;
}
#header .right p a.rss {
	padding-left:23px;
	margin-top:7px;
	background:url(/images/icons/icon-tiny-rss.gif) 0 4px no-repeat;
	float:right;
}
#header a.blog {
	position:absolute;
	top:-9px;
	right:0px;
	width:125px;
	height:44px;
	/*background:url(/images/button-blog.jpg) top left no-repeat;*/
}
#header a.blog:hover {
	background-position:bottom left;
}
#header a.blog span {
	display:none;
}

.cms-content {
	/*width: 820px;*/
	float: left;
	/*border: 1px solid black;*/
	padding-left: 15px;
}

.cms-content-home {
	width: 650px;
	float: left;
	/*border: 1px solid black;*/
	padding-left: 20px;
	font-size: 15px;
}

.system-message, .system-error-message {
	background-color: transparent;
	border: 0px;
	color: #ffffff;
	height: auto !important;
	margin: 0px;
	min-height: 110px;
	padding: 36px 36px 36px 180px;
}
.system-message h1, .system-error-message h1 {
	color:#ffffff;
	margin: 0 0 18px;
}
.system-message a:link, .system-error-message a:link {
	color: #EFFFA7;
}
/* - */

#footer {
	width:100%;
	float:left;
	overflow:visible;
	padding-top:10px;
	position:relative;
}
#footer p {
	line-height:1.3em;
	margin:10px 0px 20px 0;
}
#footer p.shallow {
	margin-bottom:5px;
}
#footer p a {
	border-bottom:1px dotted #efffa7;
	text-decoration:none;
}
#footer p a:hover {
	border-color:#b9d45a;
	text-decoration:none;
}
#footer p a.borderless {
	border:0;
}
#footer p a.twitter {
	width:32px;
	height:33px;
	display:block;
	text-indent:-10000px;
	border:0;
	background:url(/images/icons/icon-twitter.png) top left no-repeat;
	float:right;
	margin-left:5px;
}
#footer p a.rss {
	width:32px;
	height:33px;
	display:block;
	text-indent:-10000px;
	border:0;
	background:url(/images/icons/icon-rss.png) top left no-repeat;
	float:right;
	margin-left:5px;
}
#footer p a.linked-in {
	width:32px;
	height:33px;
	display:block;
	text-indent:-10000px;
	border:0;
	background:url(/images/icons/icon-linkedin.png) top left no-repeat;
	float:right;
	margin-left:5px;
}
#footer p a.google-plus {
	width:32px;
	height:33px;
	display:block;
	text-indent:-10000px;
	border:0;
	background:url(/images/icons/icon-googleplus.png) top left no-repeat;
	float:right;
	margin-left:5px;
}
#footer p a.skype {
	width:32px;
	height:33px;
	display:block;
	text-indent:-10000px;
	border:0;
	background:url(/images/icons/icon-skype.png) top left no-repeat;
	float:right;
}
#footer p a.facebook {
	width:32px;
	height:33px;
	display:block;
	text-indent:-10000px;
	border:0;
	background:url(/images/icons/icon-facebook.png) top left no-repeat;
	float:right;
	margin-left:5px;
}
#footer .container {
	margin:10px 0;
}
#footer p.fhoked {
	margin-top:74px;
	color:#a19d9b;
padding:;
}
#footer p.fhoked a {
	color:#a19d9b;
	border-bottom:1px dotted #a19d9b;
	text-decoration:none;
	font-weight:bold;
}
#footer p.fhoked a:hover {
	color:#fff;
	border-color:#fff;
	text-decoration:none;
}
#footer form.newsletter {
	background:white;
	padding:5px;
	margin-top:14px;
}
#footer form.newsletter fieldset {
	border:0px;
	padding:0px;
	margin:0px;
}
#footer form.newsletter input {
	float:left;
	width:170px;
	font-weight:normal;
	color:#000;
	font-size:1.2em;
	background:#fff;
	border:0;
	padding:0 10px;
	margin:0;
	line-height:36px;
	height:36px;
}
#footer form.newsletter button {
	float:right;
}
ul.footer-nav {
	margin:-15px 0 0 0;
	padding:0;
	list-style:none;
}
ul.footer-nav li {
	margin:0 6px 0 0;
	padding:0 0 0 8px;
	display:inline;
	/*background:url(/images/footer-nav-bg.gif) 0 3px no-repeat;*/
}
ul.footer-nav li.first {
	padding-left:0;
	background:none;
}
ul.footer-nav li a {
	color:#efffa7;
	border-bottom:1px dotted #efffa7;
}
ul.footer-nav li a:hover {
	color:#b9d45a;
	border-color:#b9d45a;
}
#footer p a.blank {
	border-bottom:0;
	text-decoration:none;
}
#footer p a.blank:hover {
	text-decoration:none;
}
/* - */

#main {
	width:100%;
	float:left;
	overflow:visible;
	padding:5px 0px;
}
#main a {
	color: #433b36;
	border-bottom:1px dotted #433b36;
}
#main a:hover {
	color: #b9d45a;
	border-color:#b9d45a;
}
#main ul {
	margin:20px 0;
	padding:0 0 0 10px;
	line-height:1.5em;
  color:#fff;
}
#main ul li {
	margin:10px 10px 0px 30px;
	padding:0;
  color:#433b36;
}
#main .green {
	/*background:#d8e3d1 url(/images/green-box-bg.gif) top left repeat-x;*/
	background:#d8e3d1;
	padding:10px 5px;
	border:1px solid white;
}
#main .green p {
	color:#433b36;
	margin:0px 20px 12px 20px;
}
#main .green h2 {
	color:#433b36;
	margin:0px 20px 5px 20px;
}
#main .green p a {
	color:#6d8b1b;
	border-color:#6d8b1b;
	font-weight:bold;
}
#main .green p a:hover {
	color:#b9d45a;
	border-color:#b9d45a;
	font-weight:bold;
}
#main .green-topped {
	border-top:1px solid #86b75e;
	margin-top:7px;
}
#main .green-topped p {
	margin-bottom:30px;
	line-height:1.3em;
	font-size:1.3em;
	color:#fff8a7;
}
#main blockquote {
	margin:0 0 30px 0;
	padding:0px;
	font-size:1.2em;
	font-style:italic;
	font-family:georgia;
	line-height:1.5em;
}
#main form.search-blog {
	padding:0px;
	margin-top:14px;
	margin:0 0 20px 0;
}
#main form.search-blog input {
	float:left;
	margin-top:1px;
	width:180px;
	font-weight:normal;
	color:#000;
	font-size:1.2em;
	background:#fff;
	border:0;
	padding:0 10px;
	line-height:34px;
	height:34px;
}
#main form.search-blog button {
	float:right;
}
#main .column ol {
	margin:0 0 20px 0;
	padding:0;
	list-style:none;
	clear:left;
}
#main .column ol li {
	margin:0;
	padding:7px 0;
	border-bottom:1px solid #86b75e;
}
#main .column ol li.parent {
	background:url(/images/icons/icon-down-arrow.gif) 0 7px no-repeat;
}
#main .column ol li a {
	font-weight:bold;
}
#main .column ol li a.parent {
	margin-left:15px;
}
#main .column ol li ol {
	margin:7px 0 -7px 0;
}
#main .column ol li ol li {
	border-bottom:0;
	border-top:1px solid #86b75e;
	padding-left:25px;
}
#main .blog-item {
}
#main .blog-item .left-side {
	width:51px;
	float:left;
	overflow:hidden;
}
#main .blog-item .left-side .blog-date {
	background:#433b36 url(/images/blog-date-top-left.gif) top left no-repeat;
	text-align:center;
	padding:16px 0 16px 1px;
	margin-top:20px;
}
#main .blog-item .left-side .blog-date p {
	margin:0 0 -9px 0;
	padding:0;
	line-height:1em;
}
#main .blog-item .left-side .blog-date p span.day {
	font-size:2em;
	font-weight:bold;
}
#main .blog-item .left-side .blog-date p span.month {
	font-size:0.75em;
	font-weight:bold;
}
#main .blog-item .left-side .comment-count {
	background-color:#86b75e;
	text-align:center;
	font-size:0.9em;
	padding:2px 0;
	font-weight:bold;
	margin-top:5px;
}
#main .blog-item .left-side .comment-count img {
	vertical-align:middle;
}
#main .blog-item .left-side .comment-count a {
	border:0;
	color:white;
}
#main .blog-item .left-side .comment-count a:hover {
	color:#000;
}
#main .blog-item .right-side {
	width:579px;
	float:left;
	overflow:hidden;
}
#main .green-full {
	background:#d8e3d1;
	border:1px solid white;
}
#main .green-full p {
	color:#433b36;
	padding:0px 20px;
}
#main .green-full div.attached {
	color:#433b36;
	padding:0px 20px;
	float:right;
}
#main .green-full div.attached-bottom {
	width:100%;
	overflow:hidden;
	float:left;
	color:#433b36;
	padding:0px 20px;
}
#main .green-full h2 {
	color:#433b36;
	font-size:2em;
	padding:20px 20px 0 20px;
}
#main .green-full h2 a {
	color:#433b36;
	border:0;
}
#main .green-full h2 a:hover {
	color:#000;
	border:0;
}
#main .green-full h1 {
	color:#433b36;
	font-size:2em;
	padding:20px 20px 0 20px;
}
#main .green-full h1 a {
	color:#433b36;
	border:0;
}
#main .green-full h1 a:hover {
	color:#000;
	border:0;
}
#main .green-full span.credit {
	color:#6d8b1b;
}
#main .green-full p a {
	color:#6d8b1b;
	border-color:#6d8b1b;
	font-weight:bold;
}
#main .green-full p a:hover {
	color:#000;
	border-color:#000;
}
#main .pagination p {
	margin-top:0;
	margin-bottom:0;
	font-weight:bold;
}
#main .pagination ul.paging {
	margin:0;
	padding:0;
	list-style:none;
	float:right;
}
#main .pagination ul.paging li {
	margin:0;
	padding:0 0 0 10px;
	display:inline;
	font-weight:bold;
}
#main .pagination ul.paging li a {
}
#main .site-map ul {
	margin:0;
	padding:0;
	list-style:none;
	list-style:none;
}
#main .site-map ul li {
	width:290px;
	float:left;
	font-weight:bold;
	margin-bottom:10px;
}
#main .site-map ul li a {
}
#main .site-map ul li ul {
	margin-top:10px;
	margin-left:15px;
}
#main .site-map ul li ul li {
	margin-bottom:5px;
}
#main .site-map ul li ul li a {
	font-size:0.9em;
}
#main .container.blog {
	position:relative;
	padding-top:28px;
}
#main .container.blog a.button.back {
	position:absolute;
	top:0px;
	right:10px;
	border:0;
}
#main ul.sub-nav {
	list-style:none;
	margin:0;
	padding:0 20px;
}
#main ul.sub-nav li {
	margin-bottom:10px;
}
#main ul.sub-nav li a {
	font-weight:bold;
	color:#6d8b1b;
	border-color:#6d8b1b;
}
#main ul.sub-nav li a:hover {
	color:#b9d45a;
	border-color:#b9d45a;
}
#main .attached {
	float:left;
	margin-right:10px;
	margin-top:6px;
	margin-bottom:5px;
}
#main .attached p {
	margin:0;
	padding:0;
}
#main .attached p a {
	border:0;
}
#main .attached a img {
	border:1px solid #efffa7;
	padding:5px;
}
#main .attached a:hover img {
	border-color:#b9d45a;
}
#main .attached-bottom {
	float:left;
	margin-right:10px;
	margin-bottom:5px;
}
#main .attached-bottom p {
	margin:0;
	padding:0;
}
#main .attached-bottom p a {
	border:0;
}
#main .attached-bottom a img {
	border:1px solid #efffa7;
	padding:5px;
}
#main .attached-bottom a:hover img {
	border-color:#b9d45a;
}
#main .flashMessage {
	width:100%;
	overflow:hidden;
	float:left;
	margin:0 0 20px 0;
	border:1px dashed #fff;
	color:#efffa7;
	padding:10px 0;
	text-align:center;
	font-size:2em;
}
#main .flashMessage.error {
	color:#a72929;
}
#main ul.share {
	margin:-10px 0 10px 20px;
	padding:0;
	list-style:none;
}
#main ul.share li {
	margin:0;
	padding:0 5px 0 0;
	display:inline;
}
#main ul.share li a {
	border:0;
	padding:0;
	margin:0;
}
#main ul.share li a:hover {
	opacity:0.4;
	filter:alpha(opacity=40)
}
div#mainnav ul li#contact.menu-item a {
	padding:20px;
}
/* - */

form.contact-form fieldset ul li textarea#contact_form_message {
	width:608px !important;
	float:right;
}
form.contact-form fieldset ul li input {
	width:265px !important;
	float:left;
}
form.contact-form .container {
	margin-bottom:-20px;
}
/* - */

.gmap {
	width:445px;
	height:300px;
}
.gmap .gmap-inner {
	width:445px;
	height:300px;
}
/* Website Success */

.blog-container .side-panel {
	float: right;
	width: 290px;
}
div.side-panel ul {
	margin:0 0 20px 0;
	padding:0!important;
}
div.side-panel ul li {
	border-bottom: 1px solid #86B75E;
	margin: 0;
	padding: 7px 0!important;
	font-weight:bold;
	list-style:none;
}
form#commentblog fieldset ul li input {
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	color: #000000;
	font-size: 0.95em;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	padding: 0 10px;
	width: 275px;
}
/* Submit Button */
input.submit {
	background: url("/images/button-plain.gif");
	border: 0 none;
	color: white;
	cursor: pointer;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 85px;
}
input.submit:hover {
	background-position:bottom left;
}
.col1 {
	display: block;
	float: left;
	margin-left: -240px;
	margin-right: 20px;
	margin-top: 310px;
	overflow: visible;
	width: 225px;
}
#home-form input#FirstName {
	width: 220px;
}
#home-form input#LastName {
	width: 220px;
	margin-top:10px;
}
#home-form input#EmailAddress {
	margin-top: 10px;
	width: 220px;
	
}
#home-form input.cat_textbox, textarea.cat_listbox, select.cat_dropdown, select.cat_listbox {
	height: 28px;
	width: 220px;
	padding:5px;
}

.cat_dropdown_smaller {
  margin-bottom:0;

    margin-top: 10px;
    width: 60px !important;
}

#home-form label {
	color:white;
	font-size:13px;
	margin-top:10px;
	float:left;
}

#home-form input.cat_textbox, textarea.cat_listbox, select.cat_dropdown, select.cat_listbox {
    height: 28px;
    padding: 5px;
    width: 220px !important;
	 margin-top: 10px;

}

#CAT_Custom_276532 {
	height:120px;
	margin-top:10px;
	margin-bottom:5px;
}

.slide-out-div {
          padding: 20px;
           width: 235px;
		    height: 630px !important;
          background: #ccc;
          border: 1px solid black;
		  background: none repeat scroll 0 0 #433B36;
      }      
	  
	  #home-form .cat_dropdown_smaller {
	  margin-left: -25px;
	  }
	  
	  #CaptchaV2 {
		  width:220 !important;
	  }
	  .captchaimg {
		  padding-top:7px;
	  }
	  
	  #catwebformbutton {
		  argin-top:5px;
	  }
	  
	  @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.slide-out-div {
		display:none;
	}
}