<nav id='menu' class='topmenu'>
  <ul class="menu custom fade">
    <li class='selected first'>
<a href="/">Home</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/home/location">Location</a></li> <li>
<a href="/home/place-order">Place Order</a></li> <li class='last'>
<a href="/home/about-this-site">About this Site</a></li>     </ul>
</li> <li>
<a href="/home-information">Home Information</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/home-information/consumer-services">Consumer Services?</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/home-information/consumer-services/finding-a-home">Finding a home</a></li> <li>
<a href="/home-information/consumer-services/information-on-buying-and-selling-a-home">Information on Buying and Selling a Home</a></li> <li>
<a href="/home-information/consumer-services/detailed-information-regarding-your-home">Detailed Information Regarding Your Home</a></li> <li>
<a href="/home-information/consumer-services/available-utilites-and-services">Available Utilites and Services</a></li> <li>
<a href="/home-information/consumer-services/finding-a-commercial-propertyproperty-owner">Finding a Commercial Property/Property Owner</a></li> <li>
<a href="/home-information/consumer-services/crime-school-and-neighborhood-reports">Crime, School and Neighborhood Reports</a></li> <li>
<a href="/home-information/consumer-services/bypassing-company-phone-systems">Bypassing Company Phone Systems</a></li> <li>
<a href="/home-information/consumer-services/document-bar-code-and-qr-scanner">Document, Bar Code and QR Scanner</a></li> <li class='last'>
<a href="/home-information/consumer-services/password-management">Password Management</a></li>     </ul>
</li> <li>
<a href="/home-information/texas-property-information">Texas Property Information?</a>    <ul class='clearfix'>
      <li class='first last'>
<a href="/home-information/texas-property-information/schools">Schools </a>    <ul class='clearfix'>
      <li class='first last'>
<a href="/home-information/texas-property-information/schools/great-schools">Great Schools</a></li>     </ul>
</li>     </ul>
</li> <li>
<a href="/home-information/free-texas-public-records">Free Texas Public Records?</a></li> <li>
<a href="/home-information/texas-property-tax-information">Texas Property Tax Information?</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/home-information/texas-property-tax-information/tax-payers-rights">Tax Payers Rights</a></li> <li>
<a href="/home-information/texas-property-tax-information/property-tax-assistance">Property Tax Assistance</a></li> <li>
<a href="/home-information/texas-property-tax-information/homestead-excemptions">Homestead Excemptions</a></li> <li class='last'>
<a href="/home-information/texas-property-tax-information/tax-forms">Tax Forms</a></li>     </ul>
</li> <li class='last'>
<a href="/home-information/investor-information-and-services">Investor Information and Services</a></li>     </ul>
</li> <li>
<a href="/productivity-tools">Productivity Tools</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/productivity-tools/money-management-and-accounting">Money Management and Accounting?</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/productivity-tools/money-management-and-accounting/expense-tracking">Expense Tracking</a></li> <li>
<a href="/productivity-tools/money-management-and-accounting/office-manager">Office Manager</a></li> <li class='last'>
<a href="/productivity-tools/money-management-and-accounting/spreed-sheet">Spreed Sheet</a></li>     </ul>
</li> <li>
<a href="/productivity-tools/productivity-and-efficiency">Productivity and Efficiency?</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/productivity-tools/productivity-and-efficiency/calculators">Calculators</a></li> <li>
<a href="/productivity-tools/productivity-and-efficiency/contact-management">Contact Management</a></li> <li>
<a href="/productivity-tools/productivity-and-efficiency/document-execution">Document Execution</a></li> <li>
<a href="/productivity-tools/productivity-and-efficiency/document-management">Document Management</a></li> <li>
<a href="/productivity-tools/productivity-and-efficiency/document-storage-file-management">Document Storage / File Management</a></li> <li>
<a href="/productivity-tools/productivity-and-efficiency/email-management">Email Management</a></li> <li>
<a href="/productivity-tools/productivity-and-efficiency/form-designer">Form Designer</a></li> <li>
<a href="/productivity-tools/productivity-and-efficiency/real-estate-forms">Real Estate Forms</a></li> <li>
<a href="/productivity-tools/productivity-and-efficiency/market-information">Market Information</a></li> <li>
<a href="/productivity-tools/productivity-and-efficiency/project-management">Project Management</a></li> <li>
<a href="/productivity-tools/productivity-and-efficiency/social-media">Social Media</a></li> <li>
<a href="/productivity-tools/productivity-and-efficiency/social-media-management">Social Media Management</a></li> <li class='last'>
<a href="/productivity-tools/productivity-and-efficiency/teaching-and-instruction">Teaching and Instruction</a></li>     </ul>
</li> <li>
<a href="/productivity-tools/marketing-and-communication">Marketing and Communication?</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/productivity-tools/marketing-and-communication/realtor-marketing-lead-generationsystems">Realtor Marketing - Lead Generation/Systems</a></li> <li>
<a href="/productivity-tools/marketing-and-communication/realtor-marketing-cards-signs-and-flyers">Realtor Marketing - Cards, Signs and Flyers</a></li> <li>
<a href="/productivity-tools/marketing-and-communication/realtor-marketing-virtual-tours">Realtor Marketing - Virtual Tours</a></li> <li>
<a href="/productivity-tools/marketing-and-communication/blogging">Blogging</a></li> <li>
<a href="/productivity-tools/marketing-and-communication/drawing">Drawing</a></li> <li>
<a href="/productivity-tools/marketing-and-communication/event-manager">Event Manager</a></li> <li>
<a href="/productivity-tools/marketing-and-communication/personal-securitylocation-sharing">Personal Security/Location Sharing</a></li> <li>
<a href="/productivity-tools/marketing-and-communication/website-generation-idx-integration">Website Generation / IDX Integration</a></li> <li class='last'>
<a href="/productivity-tools/marketing-and-communication/web-conferencing">Web Conferencing</a></li>     </ul>
</li> <li>
<a href="/productivity-tools/information-and-time-management">Information and Time Management?</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/productivity-tools/information-and-time-management/calendar">Calendar</a></li> <li>
<a href="/productivity-tools/information-and-time-management/cloud-services">Cloud Services</a></li> <li>
<a href="/productivity-tools/information-and-time-management/journaling-notes">Journaling / Notes</a></li> <li class='last'>
<a href="/productivity-tools/information-and-time-management/pdf-editors-readers">PDF Editors / Readers</a></li>     </ul>
</li> <li>
<a href="/productivity-tools/media-and-the-graphic-arts">Media and the Graphic Arts?</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/productivity-tools/media-and-the-graphic-arts/polls-and-surveys">Polls and Surveys</a></li> <li>
<a href="/productivity-tools/media-and-the-graphic-arts/photo-video-management">Photo / Video Management</a></li> <li class='last'>
<a href="/productivity-tools/media-and-the-graphic-arts/presentation">Presentation</a></li>     </ul>
</li> <li class='last'>
<a href="/productivity-tools/lock-systems">Lock Systems?</a></li>     </ul>
</li> <li>
<a href="/north-texas-property-information">North Texas Property Information</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/north-texas-property-information/denton">Denton</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/north-texas-property-information/denton/county-home-page">County Home Page</a></li> <li>
<a href="/north-texas-property-information/denton/county-profile">County Profile</a></li> <li>
<a href="/north-texas-property-information/denton/free-public-records">Free Public Records</a></li> <li>
<a href="/north-texas-property-information/denton/appraisal-district">Appraisal District</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/north-texas-property-information/denton/appraisal-district/property-search">Property Search</a></li> <li>
<a href="/north-texas-property-information/denton/appraisal-district/assessor-collector">Assessor-Collector</a></li> <li>
<a href="/north-texas-property-information/denton/appraisal-district/search-for-and-pay-property-taxes">Search For and Pay Property Taxes</a></li> <li>
<a href="/north-texas-property-information/denton/appraisal-district/property-tax-information">Property Tax Information</a></li> <li class='last'>
<a href="/north-texas-property-information/denton/appraisal-district/recorded-document-search">Recorded Document Search</a></li>     </ul>
</li> <li class='last'>
<a href="/north-texas-property-information/denton/schools-by-name-city-or-zip-code">Schools by Name, City or Zip Code</a></li>     </ul>
</li> <li>
<a href="/north-texas-property-information/wise">Wise</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/north-texas-property-information/wise/county-home-page">County Home Page</a></li> <li>
<a href="/north-texas-property-information/wise/county-profile">County Profile</a></li> <li>
<a href="/north-texas-property-information/wise/free-public-records">Free Public Records</a></li> <li>
<a href="/north-texas-property-information/wise/appraisal-district">Appraisal District</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/north-texas-property-information/wise/appraisal-district/property-search">Property Search</a></li> <li>
<a href="/north-texas-property-information/wise/appraisal-district/assessor-collector">Assessor-Collector</a></li> <li>
<a href="/north-texas-property-information/wise/appraisal-district/search-for-and-pay-property-taxes">Search For and Pay Property Taxes</a></li> <li>
<a href="/north-texas-property-information/wise/appraisal-district/property-tax-information">Property Tax Information</a></li> <li class='last'>
<a href="/north-texas-property-information/wise/appraisal-district/recorded-document-search">Recorded Document Search</a></li>     </ul>
</li> <li class='last'>
<a href="/north-texas-property-information/wise/schools-by-name-city-or-zip-code">Schools by Name, City or Zip Code</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/north-texas-property-information/wise/schools-by-name-city-or-zip-code/hometownlocator">Hometownlocator</a></li> <li class='last'>
<a href="/north-texas-property-information/wise/schools-by-name-city-or-zip-code/schoolmaporg">Schoolmap.org</a></li>     </ul>
</li>     </ul>
</li> <li>
<a href="/north-texas-property-information/collin">Collin</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/north-texas-property-information/collin/county-home-page">County Home Page</a></li> <li>
<a href="/north-texas-property-information/collin/county-profile">County Profile</a></li> <li>
<a href="/north-texas-property-information/collin/free-public-records">Free Public Records</a></li> <li>
<a href="/north-texas-property-information/collin/appraisal-district">Appraisal District</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/north-texas-property-information/collin/appraisal-district/property-search">Property Search</a></li> <li>
<a href="/north-texas-property-information/collin/appraisal-district/assessor-collector">Assessor-Collector</a></li> <li>
<a href="/north-texas-property-information/collin/appraisal-district/search-for-and-pay-property-taxes">Search For and Pay Property Taxes</a>    <ul class='clearfix'>
      <li class='first last'>
<a href="/north-texas-property-information/collin/appraisal-district/search-for-and-pay-property-taxes/great-schools">Great Schools</a></li>     </ul>
</li> <li>
<a href="/north-texas-property-information/collin/appraisal-district/property-tax-information">Property Tax Information</a></li> <li class='last'>
<a href="/north-texas-property-information/collin/appraisal-district/recorded-document-search">Recorded Document Search</a></li>     </ul>
</li> <li class='last'>
<a href="/north-texas-property-information/collin/schools-by-name-city-or-zip-code">Schools By Name, City or Zip Code</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/north-texas-property-information/collin/schools-by-name-city-or-zip-code/hometownlocator">Hometownlocator</a></li> <li class='last'>
<a href="/north-texas-property-information/collin/schools-by-name-city-or-zip-code/schoolmaporg">Schoolmap.org</a></li>     </ul>
</li>     </ul>
</li> <li>
<a href="/north-texas-property-information/dallas">Dallas</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/north-texas-property-information/dallas/county-home-page">County Home Page</a></li> <li>
<a href="/north-texas-property-information/dallas/county-profile">County Profile</a></li> <li>
<a href="/north-texas-property-information/dallas/free-public-records">Free Public Records</a></li> <li>
<a href="/north-texas-property-information/dallas/appraisal-district">Appraisal District</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/north-texas-property-information/dallas/appraisal-district/property-search">Property Search</a></li> <li>
<a href="/north-texas-property-information/dallas/appraisal-district/assessor-collector">Assessor-Collector</a></li> <li>
<a href="/north-texas-property-information/dallas/appraisal-district/search-for-and-pay-property-taxes">Search For and Pay Property Taxes</a></li> <li>
<a href="/north-texas-property-information/dallas/appraisal-district/property-tax-information">Property Tax Information</a></li> <li class='last'>
<a href="/north-texas-property-information/dallas/appraisal-district/recorded-document-search">Recorded Document Search</a></li>     </ul>
</li> <li class='last'>
<a href="/north-texas-property-information/dallas/schools-by-name-city-or-zip-code">Schools By Name, City or Zip Code</a></li>     </ul>
</li> <li>
<a href="/north-texas-property-information/tarrant">Tarrant</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/north-texas-property-information/tarrant/county-home-page">County Home Page</a></li> <li>
<a href="/north-texas-property-information/tarrant/county-profile">County Profile</a></li> <li>
<a href="/north-texas-property-information/tarrant/free-public-records">Free Public Records</a></li> <li>
<a href="/north-texas-property-information/tarrant/appraisal-district">Appraisal District</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/north-texas-property-information/tarrant/appraisal-district/property-search">Property Search</a></li> <li>
<a href="/north-texas-property-information/tarrant/appraisal-district/assessor-collector">Assessor-Collector</a></li> <li>
<a href="/north-texas-property-information/tarrant/appraisal-district/search-for-and-pay-property-taxes">Search For and Pay Property Taxes</a></li> <li>
<a href="/north-texas-property-information/tarrant/appraisal-district/property-tax-information">Property Tax Information</a></li> <li class='last'>
<a href="/north-texas-property-information/tarrant/appraisal-district/recorded-document-search">Recorded Document Search</a></li>     </ul>
</li> <li class='last'>
<a href="/north-texas-property-information/tarrant/schools-by-name-city-or-zip-code">Schools by Name, City or Zip Code</a></li>     </ul>
</li> <li>
<a href="/north-texas-property-information/ellis">Ellis</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/north-texas-property-information/ellis/county-home-page">County Home Page</a></li> <li>
<a href="/north-texas-property-information/ellis/county-profile">County Profile</a></li> <li>
<a href="/north-texas-property-information/ellis/free-public-records">Free Public Records</a></li> <li>
<a href="/north-texas-property-information/ellis/appraisal-district">Appraisal District</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/north-texas-property-information/ellis/appraisal-district/property-search">Property Search</a></li> <li>
<a href="/north-texas-property-information/ellis/appraisal-district/assessor-collector">Assessor-Collector</a></li> <li>
<a href="/north-texas-property-information/ellis/appraisal-district/search-for-and-pay-property-taxes">Search For and Pay Property Taxes</a></li> <li>
<a href="/north-texas-property-information/ellis/appraisal-district/property-tax-information">Property Tax Information</a></li> <li class='last'>
<a href="/north-texas-property-information/ellis/appraisal-district/recorded-document-search">Recorded Document Search</a></li>     </ul>
</li> <li class='last'>
<a href="/north-texas-property-information/ellis/schools-by-name-city-or-zip-code">Schools by Name, City or Zip Code</a></li>     </ul>
</li> <li class='last'>
<a href="/north-texas-property-information/parker">Parker</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/north-texas-property-information/parker/county-home-page">County Home Page</a></li> <li>
<a href="/north-texas-property-information/parker/county-profile">County Profile</a></li> <li>
<a href="/north-texas-property-information/parker/free-public-records">Free Public Records</a></li> <li>
<a href="/north-texas-property-information/parker/appraisal-district">Appraisal District</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/north-texas-property-information/parker/appraisal-district/property-search">Property Search</a></li> <li>
<a href="/north-texas-property-information/parker/appraisal-district/assessor-collector">Assessor-Collector</a></li> <li>
<a href="/north-texas-property-information/parker/appraisal-district/search-for-and-pay-property-taxes">Search For and Pay Property Taxes</a></li> <li>
<a href="/north-texas-property-information/parker/appraisal-district/property-tax-information">Property Tax Information</a></li> <li class='last'>
<a href="/north-texas-property-information/parker/appraisal-district/recorded-document-search">Recorded Document Search</a></li>     </ul>
</li> <li class='last'>
<a href="/north-texas-property-information/parker/schools-by-name-city-or-zip-code">Schools by Name, City or Zip Code</a></li>     </ul>
</li>     </ul>
</li> <li>
<a href="/mce">MCE</a>    <ul class='clearfix'>
      <li class='first'>
<a href="/mce/available-courses">Available Courses</a></li> <li>
<a href="/mce/calendar">Calendar</a></li> <li class='last'>
<a href="/mce/blog">Blog</a></li>     </ul>
</li> <li class='last'>
<a href="/about-us">About Us</a></li>   </ul>
</nav>