

<p>
Website designed and built by <a href="mailto:paul.simpsonparry@freelandassociates.com?Subject=Website%20Enquiry">Freeland Associates</a>.	
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</p>