<div id="accordion">
	<h3>Contact Us</h3>
	<div>
		<p>
			Click on a name below to email:
			<div class="addresses">
				<a href="mailto:amber@hollandlawandtitle.com?Subject=Contact%20from%20website" class="maillink">Amber</a>
				<a href="#" style="border-bottom: none;"><img src="/images/LinkedIn_Logo16px.png" class="smlogo"></a>
			</div>
			<div class="addresses">
				<a href="mailto:denise@hollandlawandtitle.com?Subject=Contact%20from%20website" class="maillink">Denise</a>
			    <a href="https://www.linkedin.com/profile/view?id=225726877" style="border-bottom: none;"><img src="/images/LinkedIn_Logo16px.png" class="smlogo"></a>
			</div>
			<div class="addresses">
				<a href="mailto:john@hollandlawandtitle.com?Subject=Contact%20from%20website" class="maillink">John</a>
				<a href="https://www.linkedin.com/profile/view?id=113586733" style="border-bottom: none;"><img src="/images/LinkedIn_Logo16px.png" class="smlogo"></a>
				<a href="https://www.facebook.com/profile.php?id=100004913280994" style="border-bottom: none;"><img src="/images/FB-f-Logo__blue_29.png" class="smlogo"></a>
			</div>
<!-- 			<div class="addresses">
				<a href="mailto:tanya@hollandlawandtitle.com?Subject=Contact%20from%20website" class="maillink">Tanya</a>
				<a href="https://www.linkedin.com/profile/view?id=33542435" style="border-bottom: none;"><img src="/images/LinkedIn_Logo16px.png" class="smlogo"></a>
			</div> -->
			<div class="addresses">
				<a href="mailto:toni@hollandlawandtitle.com?Subject=Contact%20from%20website" class="maillink">Toni</a>
				<a href="http://www.linkedin.com/profile/view?id=173837014" style="border-bottom: none;"><img src="/images/LinkedIn_Logo16px.png" class="smlogo"></a>
			</div>
			<div class="addresses">
				<a href="mailto:suzanne@hollandlawandtitle.com?Subject=Contact%20from%20website" class="maillink">Suzanne</a>
				<a href="http://www.linkedin.com/profile/view?id=165885268" style="border-bottom: none;"><img src="/images/LinkedIn_Logo16px.png" class="smlogo"></a>
			</div>
<!-- 			<div class="addresses">
				<a href="mailto:gabrielle@hollandlawandtitle.com?Subject=Contact%20from%20website" class="maillink">Gabrielle</a>
			</div> -->


			<div id="mc_embed_signup">
				<form action="http://hollandlawandtitle.us7.list-manage.com/subscribe/post?u=8036f58572be1541c9e855660&amp;id=31638c2ddb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				     <label for="mce-EMAIL" id="email_label">Subscribe to our mailing list</label>
				     <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				     <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				</form>
			</div>

		</p>
	</div>
	<h3>Place Title Order</h3>
	<div>
		<p>
		Click <a href="mailto:order@hollandlawandtitle.com?Subject=Title%20Order%20From%20Website">here</a> to place order.	
		</p>
	</div>
	<h3>Calculators</h3>
	<div>
		<p>
			Click <a href="http://palmagent.com/2/">here</a> to download our cool new app, including closing cost calculators and much more.
		</p>
		<p>
			Or click on one of the rate calculators listed below:
			<br/><br/><a href="/sidebar/rate-calculators/basic-title-premium-calculator">Basic Title Premium Calculator</a>
            <br/><a href="/sidebar/rate-calculators/refinance-title-premium-calculator">Refinance Title Premium Calculator</a>
            <br/><a href="/sidebar/rate-calculators/investment-calculator">Investment Calculator</a>
            <br/><a href="/sidebar/rate-calculators/19-in-1-mortgage-calculator">19 in 1 Mortgage Calculator</a>
            <br/><a href="/sidebar/rate-calculators/sellers-estimated-closing-costs">Seller's Estimated Closing Costs</a>
            <br/><a href="/sidebar/rate-calculators/buyers-estimated-closing-costs">Buyer's Estimated Closing Costs</a>
            <br/><a href="/sidebar/rate-calculators/reverse-mortgage-calculator">Reverse Mortgage Calculator</a>
		</p>
	</div>
	<h3>About Title Insurance</h3>
	<div>
		<p>
			Click below for more information:
            <br/><br/><a href="/sidebar/title-information/title-insurance">Title Insurance</a>
            <br/><a href="/sidebar/title-information/escrow-information/what-happens-in-escrow-settlement">What Happens in Escrow Settlement?</a>
            <br/><a href="/sidebar/title-information/escrow-information/who-may-handle-escrow-settlements">Who May Handle Escrow Settlements?</a>
            <br/><a href="/sidebar/title-information/escrow-information/instructions-to-the-settlement-agent">Instructions to the Settlement Agent</a>
            <br/><a href="/sidebar/title-information/escrow-information/what-each-party-does-in-escrow">What Each Party Does in Escrow?</a>
            <br/><a href="/sidebar/title-information/escrow-information/closing-the-sale-and-division-of-charges">Closing the Sale and Division of Charges</a>
            <br/><br/>Click <a href="http://www.ltic.com" target="_blank">here</a> to open the Lawyers Title website.
		</p>
	</div>
	<h3>Home Ownership Tips and Articles</h3>
	<div>
		<p>
            Click below for more information:
            <br/><br/><b>Buyers Section</b>
            <br/><a href="/sidebar/information-library/why-use-a-real-estate-agent-buyers">Why Use a Real Estate Agent</a>
            <br/><a href="/sidebar/information-library/what-to-expect-in-a-residential-transaction-buyers">What to Expect in a Residential Transaction</a>
            <br/><a href="/sidebar/information-library/buyers-financial-responsibility">Buyer's Financial Responsibility</a>

            <br/><br/><b>Sellers Section</b>
			<br/><a href="/sidebar/information-library/real-estate-professionals-help-home-sellers-reach-their-goals">Real Estate Professionals Help Home Sellers Reach Their Goals</a>
			<br/><a href="/sidebar/information-library/why-use-a-real-estate-agent-sellers">Why Use a Real Estate Agent</a>
            <br/><a href="/sidebar/information-library/what-to-expect-in-a-residential-transaction-sellers">What to Expect in a Residential Transaction</a>
            <br/><a href="/sidebar/information-library/sellers-financial-responsibility">Seller's Financial Responsibility</a>
            <!-- <br/><a href="/sidebar/information-library/sellers-checklist">Seller's Checklist</a> -->
   		</p>
	</div>  	
</div>