<div id="accordion">
	<h3>Contact Us</h3>
	<div>
		<p>
			Click on a name below to email:
			<br/><a href="mailto:holland12@mac.com?Subject=Contact%20from%20website">John</a>
			<br/><a href="mailto:holland12@mac.com?Subject=Contact%20from%20website">Toni</a>
			<br/><a href="mailto:holland12@mac.com?Subject=Contact%20from%20website">Denise</a>
			<br/><a href="mailto:holland12@mac.com?Subject=Contact%20from%20website">Tanya</a>
		</p>
	</div>
	<h3>Place Title Order</h3>
	<div>
		<p>
		Click here to place order.	
		</p>
	</div>
	<h3>Calculators</h3>
	<div>
		<p>
			Click on one of the rate calculators listed below:
			<br/><br/><a href="/sidebar/rate-calculators/basic-title-premium-calculator">Basic Title Premium Calculator</a>
            <br/><a href="/sidebar/rate-calculators/refinance-title-premium-calculator">Refinance Title Premium Calculator</a>
            <br/><a href="/sidebar/rate-calculators/19-in-1-mortgage-calculator/">19 in 1 Mortgage Calculator</a>
            <!-- <br/><a href="/sidebar/rate-calculators/adjustable-rate-mortgage">Adjustable Rate Mortgage Calculator</a> -->
		</p>
	</div>
	<h3>About Title Insurance</h3>
	<div>
		<p>
			Click below for more information:
            <br/><br/><a href="/sidebar/title-information/title-insurance">Title Insurance</a>
            <br/><a href="/sidebar/title-information/escrow-information/what-happens-in-escrow-settlement">What Happens in Escrow Settlement?</a>
            <br/><a href="/sidebar/title-information/escrow-information/who-may-handle-escrow-settlements">Who May Handle Escrow Settlements?</a>
            <br/><a href="/sidebar/title-information/escrow-information/instructions-to-the-settlement-agent">Instructions to the Settlement Agent</a>
            <br/><a href="/sidebar/title-information/escrow-information/what-each-party-does-in-escrow">What Each Party Does in Escrow?</a>
            <br/><a href="/sidebar/title-information/escrow-information/closing-the-sale-and-division-of-charges">Closing the Sale and Division of Charges</a>
            <br/><br/>Click <a href="http://www.ltic.com" target="_blank">here</a> to open the Lawyers Title website.
		</p>
	</div>
	<h3>Information Library</h3>
	<div>
		<p>
            Click below for more information:
<!--             <br/><br/><a href="/sidebar/information-library/escrow-terms-and-phrases">Escrow Terms and Phrases</a>
            <br/><a href="/sidebar/information-library/glossary">Glossary</a>
            <br/><a href="/sidebar/information-library/words-phrases-and-definitions">Words, Phrases and Definitions</a> -->
            <br/><a href="/sidebar/information-library/buying-real-estate">Buying Real Estate</a>
            <br/><a href="/sidebar/information-library/selling-real-estate">Selling Real Estate</a>
		</p>
	</div>  	
</div>