/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
*/

@import "superfish";
@import "superfish-navbar";
@import "superfish-vertical";
@import "bourbon";
@import "menu/core";
@import "menu/styles/custom";
@import "menu/effects/fade";

$light: #FDF6E3;
$dark: #594C42;
$menudrop: #FDF6E3;
$container-color: #FBF4E5;
$container-border-color: brown;
$container-border-width: 1px;



// body, #page_container {
//     min-height: 800px;
//     width: 1024px;
// }

// body {
//     right: 50%;
//     position: absolute;
// }

// #page_container {
//     left: 48%;
//     position: relative;
// //    background: $container-color;
// //    border-left: $container-border-width solid $dark;
// //    border-right: $container-border-width solid $dark;
//     padding: 0px;
// }


// body {
//   font-family: $georgia;
//   font-size: 16px;
//   margin: 0;
// //  background-image: url(/assets/parchment.png);
// }

body div footer {
  height:32px;
  // border:1px solid #292929;
  font-family:Arial, Helvetica, sans-serif;
  
}

body div footer p {
  color: #FFF;
  font-size: 12px;
  margin-top: 9px;
  padding-right: 10px;
  text-align: right;
}

h1, h2, h3 {
  margin-top: 0;
}

#page {
  clear: both;
  margin: 0px;
  text-align: justify;
}

#logo {
  color: #000000;
  font-weight: bold;
  position: relative;
  padding: 20px 43px;
  margin: 0;
  font-size: 32px;
  height: 120px;
  // background-image: url(/assets/header.png);
  // background-image: url(/assets/blueheader.jpg);
  // background-repeat: no-repeat;
  // background-position: right;
  background-size: 1024px 160px;
}

#logo a {
  color: $light;
  text-decoration: none;
  font-weight: lighter;
}

#menu ul li {
  z-index: 10;
}

#sidemenu {
  border: 1px solid black;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  min-height: 470px;
  width: 240px;
  // min-width: 250px;
  // max-width: 250px;
  float: left;
}

#accordion {
  width: 270px;
  opacity: 0.8;
  float: left;
  // margin-left: 128px;
}
  
#accordion h3 {
  font-size: 14px;

  color: #5A770E;
}

#accordion .ui-accordion-content {
  height: 240px;
  padding: 0px;
}

#accordion p {
  margin-top: 4px;
  margin: 5px;
  font-size: 11px;
  text-align: left;
}

#refineryPageRender {
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 20px;
  width: 685px;
  float: left;
}