/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require prettyphoto-rails
 *= require_tree .
*/

@import "superfish";
@import "superfish-navbar";
@import "superfish-vertical";
@import "bourbon";
@import "menu/core";
@import "menu/styles/custom";
@import "menu/effects/fade";

$light: #FDF6E3;
$dark: #594C42;
$menudrop: #FDF6E3;
$container-color: #FBF4E5;
$container-border-color: brown;
$container-border-width: 1px;

#scoop_it_feed {
  width: 475px;
  // height: 80px;
  // float: left;
  // border: 1px solid red;
  display: inline-block;
  .gfg-horizontal-root {
    padding: 0px 0px 0px 0px;
    margin:  0px 0px 0px 0px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .gfg-title {
    font-weight: bold;
    font-size: 11px;
    color: black;
    padding: 2px 5px 0px 3px;
    width: 45px;
    height: 100%;
  }
  .gfg-entry {
    font-size: 11px;
    padding: 2px 0px 0px 2px;
    height: 100%;
    // white-space: pre-wrap;      /* CSS3 */   
    // white-space: -moz-pre-wrap; /* Firefox */    
    // white-space: -pre-wrap;     /* Opera <7 */   
    // white-space: -o-pre-wrap;   /* Opera 7 */    
    // word-wrap: break-word;      /* IE */
  }
}

div .gfg-branding {
  display: none;
}

.rssincl-itemdesc {
  max-width: 300px;
  max-height: 100px;
  float: left;
  display: inline-block;
}

#email_label {
  font-size: 12px !important;
  padding-bottom: 5px !important;
}

#mce-EMAIL {
  font-size: 12px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  margin-bottom: 6px !important;
  width: 248px !important;
}

#mc-embedded-subscribe {
  font-size: 12px !important;
  padding-bottom: 0px !important;
  height: 25px !important;
  line-height: 25px !important;
  background-color: #6d8b1b !important;
  // float: right !important;
  // margin-right: 10px !important;
}

h1#body_content_title {
  display: none;
}



article.blog_post {
  border: 1px solid #6d8b1b;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 5px;
  background-color: #E4F6D5;
  -moz-border-radius: 4px;
  border-radius: 4px;
  h2 {
    margin-bottom: 5px;
    font-size: 24px;
  }
  p {
    font-size: 13px;
    margin-bottom: 5px;
    margin-right: 5px;
  }
  footer {
    p, aside {
      font-size: 11px;
    }
    p {
      margin: 0px;
    }
  }
}

article#blog_post h1 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
}

article#blog_post p {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 14px;
}

section.details {
  font-size: 11px;  
  color: #6d8b1b;
}

form#new_comment label {
  width: 70px;
  display: inline-block;
}

nav#next_prev_article a {
  font-size: 13px;
  border-bottom: 1px dotted #433b36;
}

body div footer {
  height:32px;
  // border:1px solid #292929;
  font-family:Arial, Helvetica, sans-serif;
  
}

body div footer p {
  color: #FFF;
  font-size: 12px;
  margin-top: 9px;
  padding-right: 10px;
  text-align: right;
}

h1, h2, h3 {
  margin-top: 0;
}

#page {
  clear: both;
  margin: 0px;
  text-align: justify;
}

#logo {
  color: #000000;
  font-weight: bold;
  position: relative;
  padding: 20px 43px;
  margin: 0;
  font-size: 32px;
  height: 120px;
  // background-image: url(/assets/header.png);
  // background-image: url(/assets/blueheader.jpg);
  // background-repeat: no-repeat;
  // background-position: right;
  background-size: 1024px 160px;
}

#logo a {
  color: $light;
  text-decoration: none;
  font-weight: lighter;
}

#rooflogo {
  position: relative;
}

#app {
  position: relative; 
  width: 700px;
  height: 75px;
}

#applogo {
  position: absolute;
  top: 0px;
  left: 0px; 
}

#leftarrow {
  position: absolute;
  top: 5px;
  left: 77px;   
}

#appdownloadicon {
  position: absolute;
  top: 4px;
  left: 132px;
  font-size: 1.1em;
  letter-spacing: -1px;
  width: 550px;
}

#officeaddress {
  clear: both;
}

#officeaddress h2 {
  margin: 0px;
}

#officeaddress div p {
  margin: 0px 0px 10px 0px;
}

#corinthoffice {
  font-size: 15px;
  width: 220px;
  float: left;
}

#dentonoffice {
  font-size: 15px;
  width: 250px;
  float: left;
}

.ppt[style] {
    display: none !important;
}


#mapofficedetailsinner {
  padding: 5px;
  font-family: arial;
  color: #000;
}

#mapofficedetailsinner h1 {
  font-weight: bold;
  font-size: 15px;
}

#mapofficedetailsinner p {
  font-size: 11px;
  margin: 3px 0px 3px 0px;
}



#menu ul li {
  z-index: 10;
}

#sidemenu {
  border: 1px solid black;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  min-height: 470px;
  width: 240px;
  // min-width: 250px;
  // max-width: 250px;
  float: left;
}

#accordion {
  width: 270px;
  opacity: 0.8;
  float: left;
  // margin-left: 128px;
}
  
#accordion h3 {
  font-size: 14px;

  color: #5A770E;
}

#accordion .ui-accordion-content {
  height: 240px;
  padding: 0px;
}

#accordion p {
  margin-top: 4px;
  margin: 5px;
  font-size: 11px;
  text-align: left;
}

#refineryPageRender {
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 20px;
  width: 685px;
  float: left;
}

.dropdown1,
.dropdown2,
.dropdown3,
.dropdown4 {
  float:left;  
  position:absolute;  
  left:-999em; /* Hides the drop down */  
  background-color: #DDE6D7;
}

.dropdown1 {height: 110px; width: 180px;}  
.dropdown2 {height: 420px; width: 380px;}  
.dropdown3 {height: 500px; width: 820px;}  
.dropdown4 {height: 420px; width: 880px;} 

#menu li:hover .dropdown1 {  
    left:-1px;  
    top:auto;  
}

#menu li:hover .dropdown2 {  
    left:-1px;  
    top:auto;  
} 

#menu li:hover .dropdown3 {  
    left:-260px;  
    top:auto;  
}

#menu li:hover .dropdown4 {  
    left:-500px;  
    top:auto;  
} 

#dropdown3_1 {
  float: left;
  // border: 1px solid blue;
  height: 50px;
  width: 350px;
}

#dropdown3_2 {
  float: left;
  // border: 1px solid blue;
  height: 50px;
  width: 440px;
}

#dropdown4_1 {
  float: left;
  // border: 1px solid blue;
  height: 140px;
  width: 290px;
}

footer p {
  color: black;
  font-size: 12px;
}


// BLOG PAGE STUFF FROM HERE ON...

section#body {
  background-color: #E4EFD5;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0px !important;
  // height: 418px;
  // width: 675px;
  height: 100% !important;
  width: 100% !important;
  opacity: 0.9;
  color: #433b36;
  -moz-border-radius: 5px;
  border-radius: 5px;
  // float: right;
}

section#side_body {
  display: none;
}

#blogcolumns {
  column-width: 320px;
  column-gap: 15px;
  width: 90%;
  max-width: 1100px;
  margin: 50px auto;
}

@media screen and (max-width: 750px) {
  #blogcolumns { column-gap: 0px }
  #blogcolumns figure { width: 100% }
}

div#blogcolumns figure {
  background: #FEFEFE;
  border: 2px solid #FCFCFC;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 10px;
  transition: opacity .4s ease-in-out;
  column-break-inside: avoid;
  display: inline-block;
  float: left;
}

div#blogcolumns figure img {
  width: 100%;
  // max-width: 300px;
  height: auto;
  border-bottom: 1px solid #CCC;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

div#blogcolumns:hover figure:not(:hover) {
  opacity: 0.4;
}

// section#side_body {
//   width: 170px;
//   height: 594px !important;
//   float: left;
//   background-color: #E4EFD5;
//   padding-left: 15px;
//   padding-right: 15px;
//   height: 418px;
//   // opacity: 0.9;
//   color: #433b36;
//   -moz-border-radius: 5px;
//   border-radius: 5px;
// }

// #side_body h1 {
//   font-size: 34px;
//   margin-top: 15px;
//   margin-bottom: 5px;
// }

// #side_body h2 {
//   font-size: 20px;
//   margin-bottom: 10px;
//   margin-top: 15px;
// }

// #side_body p {
//   margin-top: 0px;
//   margin-bottom: 5px;
//   font-size: 13px;
// }

// #side_body a {
//   font-size: 13px;
// }



// section#side_body div ul {
//   margin-top: 0px;
//   margin-bottom: 0px;
//   padding-left: 0px;
//   li {
//     margin-left: 0px;
//     margin-top: 2px;
//     font-size: 13px;
//   }
// }

// section#side_body li {
//   list-style: none;
// }

